Django~=5.0.3
django-debug-toolbar~=4.3.0
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.13.2
django-crispy-forms==1.14.0
crispy-bootstrap4==2022.1
cloudinary~=1.39.0
django_cloudinary_storage~=0.3.0
