#header {
    background: black;
    color: white;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: black;
}

/*#main {*/
/*    background: black;*/
/*}*/

h1 {
    color: black;
}

#user-tools, #logout-form button {
    letter-spacing: 0.5px;
}

#user-tools {
    color: white;
}

