<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">

    <a class="navbar-brand" 
       href="{% url "newspaper-agency:newspaper-home" %}" 
       style="color: white">
      <strong><i>News Nexus</i></strong>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "newspaper-agency:newspaper-home" %}">Home Page</a>
        </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="#">Contact us</a>#}
{#        </li>#}
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "newspaper-agency:create-newspaper" %}">Add newspaper</a>
          </li>
        {% endif %}
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" 
               aria-current="page" 
               href="{{ user.get_absolute_url }}"
               style="color: white">
              <strong>User: {{ user.get_username }}</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" 
               aria-current="page" 
               href="{% url 'newspaper-agency:logout' %}" 
               style="color: darkred">
              <strong>Logout</strong>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" 
               aria-current="page" 
               href="{% url 'newspaper-agency:register' %}"
               style="color: white">
              <strong>Register</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" 
               aria-current="page" 
               href="{% url 'newspaper-agency:login' %}" 
               style="color: white">
              <strong>Login</strong>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
