{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="btn btn-success disabled">Previous</span>
      </li>
    {% endif %}
    {% for num in paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="btn btn-success active">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page={{ num }}" class="btn btn-success">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="btn btn-success disabled">Next</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
