{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
    <title>Newspaper Agency</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">

</head>

<body>
  {% block navbar %}
    {% include "includes/navbar.html" %}
  {% endblock %}

  <div class="container-fluid mt-3">
    <div class="row">

      <div class="col-md-2">
        {% block sidebar %}SIDEBAR{% endblock %}
      </div>

      <div class="col-md-10">
        {% block content %}CONTTENT{% endblock %}
      </div>

    </div>
  </div>

  
  <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</body>

</html>
