{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Add a newspaper</title>
{% endblock %}

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
  <h1>Add a newspaper</h1>
  <br>
    <form action="{% url "newspaper-agency:create-newspaper" %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form|crispy }}
      <br>
      <button type="submit" class="btn btn-success btn-block">Add newspaper</button>
    </form>
{% endblock %}
