{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Add a newspaper</title>
{% endblock %}

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
  <h1>Add a newspaper</h1>
  <br>
    <form action="{% url "newspaper-agency:create-newspaper" %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form|crispy }}
      <br>
      <button type="submit" class="btn btn-success btn-block">Add newspaper</button>
      <a class="btn btn-secondary" href="{% url 'newspaper-agency:newspaper-home' %}" style="margin-left: 10px">Cancel</a>
    </form>
{% endblock %}
